html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	background-color: #33589C;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.menu {
	float: right;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon {
	display: none;
}

.sidebar {
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: white;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #4CAF50;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active){
	background-color:#555;
	color:white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	margin-left: 200px;
	padding: 10px 16px;
	height: 100%;
	background-color: #f1f1f1;
	font-size: 14px;
}

ul, #sidemenu {
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#sidemenu {
	margin: 0;
	padding: 0;
}

/* Style the caret/arrow */
.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
	float: right;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
	transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
	display: block;
}

table, td, th {
	border: 1px solid #ddd;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 15px;
}

.theader {
	background-color: #33589C;
	color: white;
}

.title {
	color: #33589C;
}

input[type=text], select, textarea {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #33589C;
	color: white;
	padding: 12x;
	border: none;
	border-radius: 5px;
	width: 80px;
	cursor: pointer;
}

.button {
	background-color: #33589C;
	text-decoration: none;
	color: white;
	padding: 9px;
	border: none;
	border-radius: 5px;
	width: 80px;
	cursor: pointer;
}

fieldset {
	border-radius: 5px;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.button:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	margin-top: 10px;
}

.col-25 {
	float: left;
	width: 20%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 80%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}