body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}

p {
	color: #E88C39;
	font-family: Calibri;
	font-size: 12pt;
	font-weight: bold;
}

p.pass {
	margin-bottom: 0px;
}

p.buttons {
	margin-top: 0px;
}

small {
	font-family: Calibri;
	color: red;
}

input[type=text] {
	font-family: Calibri;
	font-size: 12pt;
	font-weight: bold;
	border-radius: 15px;
}

input[type=password] {
	font-family: Calibri;
	font-size: 12pt;
	font-weight: bold;
	border-radius: 15px;
}

input[type=submit] {
	background-color: #E88C39;
	font-family: Calibri;
	font-size: 12pt;
	font-weight: bold;
	color: white;
	border-radius: 15px;
	border: 0;
	box-shadow: none;
	width: 75px;
	padding: 5px;
}

.button{
	background-color: #E88C39;
	font-family: Calibri;
	font-size: 12pt;
	text-decoration:none;
	font-weight: bold;
	color: white;
	border-radius: 15px;
	border: 0;
	box-shadow: none;
	width: 100px;
	padding: 5px;
}

.form-login {
	margin-left: 55%;
	margin-top: 21%;
}